@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;600&family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
    --fuentePrincipal: 'Open Sans', sans-serif;
    --fuenteSecundaria: 'Barlow', sans-serif;
    --rojo: #ff595e;
    --amarillo: #ffca3a;
    --verde: #8AC926;
    --azul: #1982c4;
    --morado: #6a4c93;
    --blanco: #fff;
    --negro: #000;
}

* {
    margin: 0;
    padding: 0;
}

body {}

header {}

main {}

footer {}

h1,
h2 {}

h1 {}

h2 {}

h3 {}

p {}

/* Clases globales*/

.titulo-seccion {
    margin: 20px;
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 40px;
}

.texto {
    font-family: var(--fuenteSecundaria);
    text-align: justify;
    margin: 15px 0;
}

/* Header */

.header {
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header img {
    width: 100px;
}

.header__nombre,
.header__cargo {
    text-align: end;
    font-family: var(--fuentePrincipal) !important;
}

.header__nombre {
    margin-bottom: 0;
}

.header__cargo {
    margin-top: 0;
}

/*Navegacion principal*/

.menu {
    background-color: var(--azul);
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

.menu__item {
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    height: 100%;
    padding: 10px;
    transition: 0.3s;
    border-radius: 15px;
}

.menu__item:hover {
    background-color: var(--amarillo);
    color: var(--negro);
}

/*Seccion de Quien Soy*/

.quien {
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.quien__foto {}

.quien__foto>img {
    width: 100%;
    border-radius: 190px;
}

.quien__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* Seccion de Conocimientos*/

.conocimientos {
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

/*.conocimientos__foto{

}

.conocimientos__foto > img{
    width: 100%;
    border-radius: 190px;
}*/

.conocimientos__grid img {
    width: 135px;
    margin: 0 20px;
}

.conocimientos__grid div {
    text-align: center;
    margin: 20px 0;
}

.conocimientos__info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* Seccion de Experiencia*/

.experiencia {
    margin: 0 140px;
}

.experiencia__lista {}

.experiencia__lista__item {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 30px;
    margin: 20px 0;
    padding: 20px;
    border-radius: 40px;
    background-color: #aadeff;
}

.experiencia__lista__item img {
    width: 100%;
}

.nombre-empresa {
    font-family: var(--fuentePrincipal);
    font-size: 30px;
    font-weight: bold;
}

.tiempo-empresa {
    font-size: 20px;
    font-weight: 400;
    margin-left: 10px;
}

.exp-lista-subtitulo {
    font-family: var(--fuentePrincipal);
    font-size: 20px;
    font-weight: bold;
}

.experiencia__lista__item__info ul {
    margin-left: 70px;
}

/* Seccion de contacto*/

.contacto {
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.contacto__info__cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #b7e075;
    border-radius: 40px;
    padding: 25px;
}

.contacto-tel,
.contacto-mail,
.contacto-linkedin {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.contacto-link {
    font-family: var(--fuenteSecundaria);
    text-align: justify;
    color: var(--negro);
    text-decoration: none;
    font-size: 25px;
}

.contacto-icon {}

.contacto__form {
    background-color: var(--amarillo);
    border-radius: 20px;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.form-input {
    border: none;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    font-size: 18px;
    font-family: var(--fuenteSecundaria);
    color: var(--negro);
    width: 100%;
    resize: none;
}

.form-btn {
    height: 60px;
    border: none;
    margin: 10px 0 0 0;
    padding: 0 20px;
    align-self: self-end;
    font-family: var(--fuentePrincipal);
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.form-btn:hover {
    background-color: var(--azul);
    color: var(--blanco);
}

/* Footer */

.footer {
    background-color: #1982c4;
    height: 80px;
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Boton de Dark Mode 
importado de https://uiverse.io/Galahhad/heavy-dog-14 */

/* switch settings */

.ui-switch {
    position: fixed;
    top: 90%;
    left: 90%;
    /* switch */
    --switch-bg: rgb(135, 150, 165);
    --switch-width: 48px;
    --switch-height: 20px;
    /* circle */
    --circle-diameter: 32px;
    --circle-bg: rgb(0, 56, 146);
    --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

.ui-switch input {
    display: none;
}

.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    position: relative;
    cursor: pointer;
}

.slider .circle {
    top: calc(var(--circle-inset) * -1);
    left: 0;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    position: absolute;
    background: var(--circle-bg);
    border-radius: inherit;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    ;
}

.slider .circle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.75);
    border-radius: inherit;
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    opacity: 0;
}

/* actions */

.ui-switch input:checked+.slider .circle {
    left: calc(100% - var(--circle-diameter));
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
}

.ui-switch input:active+.slider .circle::before {
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
    opacity: 1;
    width: 0;
    height: 0;
}